@import '../../../variables.scss';

#play {
    background-color: $bg;
}

app-battlefield, #map {
    width: 80vw;
    height: calc(100vh - 50px);
    position: absolute;
    left: 0;
    overflow: scroll;
}
app-userlist {
    width: 20vw;
    height: 100vh;
    border-left: 1px solid black;
    position: absolute;
    top: 0;
    right: 0;
}
app-footer {
    width: 80vw;
    height: 50px;
    border-top: 1px solid black;
    position: absolute;
    left: 0;
    bottom: 0;
}

app-header {
    width: 80vw;
    height: 60px;
    border-bottom: 1px solid black;
    position: absolute;
    left: 0;
    top: 0;
}

#map {
    position: relative;
    app-token {
        position: absolute;
    }
}