@import '../../../variables.scss';

.user {
    width: 100%;
    padding: 5px;
    &.active {
        background-color: black;
    }
    .chip {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: 1px solid white;
    }
    h3, p {
        margin: 0;
    }
}