<div class="user" [ngClass]="{'active' : active}">
    <mat-card>
        <mat-card-content>
            <div class="row">
                <div class="col-3">
                    <div class="chip" [ngStyle]="{'background-color': character.color}"></div>
                </div>
                <div class="col-9">
                    <h3>{{character.character.name}}</h3>
                    <p>{{character.character.player}}</p>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>