#main {
    width: 100vw;
    height: 100vh;
    app-battlefield {
        width: 80vw;
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
    }
    app-userlist {
        width: 20vw;
        height: 100vw;
        border-left: 1px solid black;
        position: absolute;
        top: 0;
        right: 0;
    }
}